{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- Home page carousel -->
<section>
<div id="home-page-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#home-page-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-page-carousel" data-slide-to="1"></li>
        <li data-target="#home-page-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item home-carousel-item active">
            <div id="carousel-img-1" class="d-block w-100 carousel-image">
                <img class="img-responsive" src="media/carousel-img-1.jpg" alt="">
            </div>
        </div>
        <div class="carousel-item home-carousel-item">
            <div id="carousel-img-2" class="d-block w-100 carousel-image">
                <img class="img-responsive" src="media/carousel-img-2.jpg" alt="">
            </div>
        </div>
        <div class="carousel-item home-carousel-item">
            <div id="carousel-img-2" class="d-block w-100 carousel-image">
                <img class="img-responsive" src="media/carousel-img-4.jpg" alt="">
            </div>
        </div>
    </div>
</div>
</section>

<section id="index-staples-section">
    <div class="container index-staples">
        <div class="row">
            <div class="col text-center">
                <h1 class="sale-banner logo-font mt-5 mb-3" id="index-staples-header"><span>On Sale</span></h1>
            </div>
        </div>
        <div class="row index-staples-items">
            <div class="col-md-3">
                <a class="white-underline" href="{% url 'item_detail' 43 %}">
                    <div class="index-staples-image mx-auto mt-4">
                        <img src="{{ MEDIA_URL }}Screen_Shot_2021-09-19_at_2.38.57_PM.png" alt="twelve month planner">
                    </div>   
                </a>
                <p class="mt-3">Petcurean Go! Fit + Free Cat Food - Chicken Turkey + Duck (4 lb)</p>
                <p class="item-price font-weight-bold mb-0"><s>Was $500</s></p>
                <p class="item-sale-price font-weight-bold mb-0">Now is $400</p>
            </div>
            <div class="col-md-3">
                <a class="white-underline" href="{% url 'item_detail' 43 %}">
                    <div class="index-staples-image mx-auto mt-4">
                        <img src="{{ MEDIA_URL }}Screen_Shot_2021-09-19_at_2.38.57_PM.png" alt="twelve month planner">
                    </div>   
                </a>
                <p class="mt-3">Petcurean Go! Fit + Free Cat Food - Chicken Turkey + Duck (4 lb)</p>
                <p class="item-price font-weight-bold mb-0"><s>Was $500</s></p>
                <p class="item-sale-price font-weight-bold mb-0">Now is $400</p>
            </div>
            <div class="col-md-3">
                <a class="white-underline" href="{% url 'item_detail' 43 %}">
                    <div class="index-staples-image mx-auto mt-4">
                        <img src="{{ MEDIA_URL }}Screen_Shot_2021-09-19_at_2.38.57_PM.png" alt="twelve month planner">
                    </div>   
                </a>
                <p class="mt-3">Petcurean Go! Fit + Free Cat Food - Chicken Turkey + Duck (4 lb)</p>
                <p class="item-price font-weight-bold mb-0"><s>Was $500</s></p>
                <p class="item-sale-price font-weight-bold mb-0">Now is $400</p>
            </div>
            <div class="col-md-3">
                <a class="white-underline" href="{% url 'item_detail' 43 %}">
                    <div class="index-staples-image mx-auto mt-4">
                        <img src="{{ MEDIA_URL }}Screen_Shot_2021-09-19_at_2.38.57_PM.png" alt="twelve month planner">
                    </div>   
                </a>
                <p class="mt-3">Petcurean Go! Fit + Free Cat Food - Chicken Turkey + Duck (4 lb)</p>
                <p class="item-price font-weight-bold mb-0"><s>Was $500</s></p>
                <p class="item-sale-price font-weight-bold mb-0">Now is $400</p>
            </div>
            <div class="col-md-3">
                <a class="white-underline" href="{% url 'item_detail' 43 %}">
                    <div class="index-staples-image mx-auto mt-4">
                        <img src="{{ MEDIA_URL }}Screen_Shot_2021-09-19_at_2.38.57_PM.png" alt="twelve month planner">
                    </div>   
                </a>
                <p class="mt-3">Petcurean Go! Fit + Free Cat Food - Chicken Turkey + Duck (4 lb)</p>
                <p class="item-price font-weight-bold mb-0"><s>Was $500</s></p>
                <p class="item-sale-price font-weight-bold mb-0">Now is $400</p>
            </div>
            <div class="col-md-3">
                <a class="white-underline" href="{% url 'item_detail' 43 %}">
                    <div class="index-staples-image mx-auto mt-4">
                        <img src="{{ MEDIA_URL }}Screen_Shot_2021-09-19_at_2.38.57_PM.png" alt="twelve month planner">
                    </div>   
                </a>
                <p class="mt-3">Petcurean Go! Fit + Free Cat Food - Chicken Turkey + Duck (4 lb)</p>
                <p class="item-price font-weight-bold mb-0"><s>Was $500</s></p>
                <p class="item-sale-price font-weight-bold mb-0">Now is $400</p>
            </div>
            <div class="col-md-3">
                <a class="white-underline" href="{% url 'item_detail' 43 %}">
                    <div class="index-staples-image mx-auto mt-4">
                        <img src="{{ MEDIA_URL }}Screen_Shot_2021-09-19_at_2.38.57_PM.png" alt="twelve month planner">
                    </div>   
                </a>
                <p class="mt-3">Petcurean Go! Fit + Free Cat Food - Chicken Turkey + Duck (4 lb)</p>
                <p class="item-price font-weight-bold mb-0"><s>Was $500</s></p>
                <p class="item-sale-price font-weight-bold mb-0">Now is $400</p>
            </div>
            <div class="col-md-3">
                <a class="white-underline" href="{% url 'item_detail' 43 %}">
                    <div class="index-staples-image mx-auto mt-4">
                        <img src="{{ MEDIA_URL }}Screen_Shot_2021-09-19_at_2.38.57_PM.png" alt="twelve month planner">
                    </div>   
                </a>
                <p class="mt-3">Petcurean Go! Fit + Free Cat Food - Chicken Turkey + Duck (4 lb)</p>
                <p class="item-price font-weight-bold mb-0"><s>Was $500</s></p>
                <p class="item-sale-price font-weight-bold mb-0">Now is $400</p>
            </div>
        </div>
            <div class="text-center">
                <a class="btn btn-yellow mt-5 mb-3" id="index-staples-button" 
                    href="{% url 'items' %}?type=dog_items_on_sale,cat_items_on_sale,small_pet_items_on_sale,bird_items_on_sale,fish_items_on_sale,reptile_items_on_sale">See All On Sale</a>
            </div>
            <hr>
</section>

<!-- Home page shop by pet -->
<section>
    <div>
        <h3 class="logo-font text-center mt-3">Shop by pet</h3>
    </div>
    <div class="row">
        <div class="col-md-2 p-5">
            <button class="home-button"><i class="fas fa-dog fa-2x"></i></button>
        </div>
        <div class="col-md-2 p-5">
            <button class="home-button"><i class="fas fa-cat fa-2x"></i></button>
        </div>
        <div class="col-md-2 p-5">
           <button class="home-button"><i class="fas fa-otter fa-2x"></i></button>
        </div>
        <div class="col-md-2 p-5">
            <button class="home-button"><i class="fas fa-dove fa-2x"></i></button>
        </div>
        <div class="col-md-2 p-5">
            <button class="home-button"><i class="fas fa-fish fa-2x"></i></button>
        </div>
        <div class="col-md-2 p-5">
            <button class="home-button"><i class="fas fa-dragon fa-2x"></i></button>
        </div>        
    </div>
</section>
{% endblock %}