{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- Home page carousel -->
<section>
<div id="home-page-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#home-page-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-page-carousel" data-slide-to="1"></li>
        <li data-target="#home-page-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item home-carousel-item active">
            <div id="carousel-img-1" class="d-block w-100 carousel-image">
                <img class="img-responsive" src="{{ MEDIA_URL }}carousel-img-1.jpg" alt="">
            </div>
        </div>
        <div class="carousel-item home-carousel-item">
            <div id="carousel-img-2" class="d-block w-100 carousel-image">
                <img class="img-responsive" src="{{ MEDIA_URL }}carousel-img-2.jpg" alt="">
            </div>
        </div>
        <div class="carousel-item home-carousel-item">
            <div id="carousel-img-2" class="d-block w-100 carousel-image">
                <img class="img-responsive" src="{{ MEDIA_URL }}carousel-img-4.jpg" alt="">
            </div>
        </div>
    </div>
</div>
</section>

<section id="index-staples-section">
    <div class="container index-staples">
        <div class="row">
            <div class="col text-center">
                <h1 class="sale-banner logo-font mt-4 mb-3" id="index-staples-header"><span>On Sale</span></h1>
            </div>
        </div>
        <div class="row index-staples-items">
            <div class="col-md-3">
                <a class="white-underline" href="{% url 'item_detail' 20 %}">
                    <div class="index-staples-image mx-auto mt-4">
                        <img src="{{ MEDIA_URL }}Screen_Shot_2021-09-19_at_11.12.22_AM.png" alt="">
                    </div>   
                </a>
                <p class="mt-3">JW Pet Chompion Heavyweight Dog Toy (Assorted)</p>
                <p class="item-price font-weight-bold mb-0"><s>Was $7.99</s></p>
                <p class="item-sale-price font-weight-bold mb-0">Now is $5.99</p>
            </div>
            <div class="col-md-3">
                <a class="white-underline" href="{% url 'item_detail' 20 %}">
                    <div class="index-staples-image mx-auto mt-4">
                        <img src="{{ MEDIA_URL }}Screen_Shot_2021-09-19_at_3.04.19_PM.png" alt="">
                    </div>   
                </a>
                <p class="mt-3">Petcurean Go! Fit + Free Cat Food - Chicken Turkey + Duck (4 lb)</p>
                <p class="item-price font-weight-bold mb-0"><s>Was $25.99</s></p>
                <p class="item-sale-price font-weight-bold mb-0">Now is $21.99</p>
            </div>
            <div class="col-md-3">
                <a class="white-underline" href="{% url 'item_detail' 25 %}">
                    <div class="index-staples-image mx-auto mt-4">
                        <img src="{{ MEDIA_URL }}Screen_Shot_2021-09-19_at_12.55.16_PM.png" alt="">
                    </div>   
                </a>
                <p class="mt-3">FurHaven Deep Dish Curly Fur Plush Donut Bed - Fresh Blueberry</p>
                <p class="item-price font-weight-bold mb-0"><s>Was $66.93</s></p>
                <p class="item-sale-price font-weight-bold mb-0">Now is $59.99</p>
            </div>
            <div class="col-md-3">
                <a class="white-underline" href="{% url 'item_detail' 39 %}">
                    <div class="index-staples-image mx-auto mt-4">
                        <img src="{{ MEDIA_URL }}Screen_Shot_2021-09-19_at_2.38.57_PM.png" alt="">
                    </div>   
                </a>
                <p class="mt-3">Furhaven Tiger Tough Double Decker Playground - Gray</p>
                <p class="item-price font-weight-bold mb-0"><s>Was $117.33</s></p>
                <p class="item-sale-price font-weight-bold mb-0">Now is $99.99</p>
            </div>
            <div class="col-md-3">
                <a class="white-underline" href="{% url 'item_detail' 44 %}">
                    <div class="index-staples-image mx-auto mt-4">
                        <img src="{{ MEDIA_URL }}Screen_Shot_2021-09-26_at_10.16.52_PM.png" alt="">
                    </div>   
                </a>
                <p class="mt-3">Zoo Med Natural Aquatic Turtle Food - Hatchling Formula (50 lb)</p>
                <p class="item-price font-weight-bold mb-0"><s>Was $193.99</s></p>
                <p class="item-sale-price font-weight-bold mb-0">Now is $148.79</p>
            </div>
            <div class="col-md-3">
                <a class="white-underline" href="{% url 'item_detail' 45 %}">
                    <div class="index-staples-image mx-auto mt-4">
                        <img src="{{ MEDIA_URL }}Screen_Shot_2021-09-26_at_10.30.24_PM.png" alt="">
                    </div>   
                </a>
                <p class="mt-3">Tetra Bubbling LED Half Moon Aquarium</p>
                <p class="item-price font-weight-bold mb-0"><s>Was $45.99</s></p>
                <p class="item-sale-price font-weight-bold mb-0">Now is 34.99</p>
            </div>
            <div class="col-md-3">
                <a class="white-underline" href="{% url 'item_detail' 46 %}">
                    <div class="index-staples-image mx-auto mt-4">
                        <img src="{{ MEDIA_URL }}Screen_Shot_2021-09-26_at_11.25.07_PM.png" alt="">
                    </div>   
                </a>
                <p class="mt-3">World's Best Gourmet Shelled Mixed Nuts (5 lb)</p>
                <p class="item-price font-weight-bold mb-0"><s>Was $58.50</s></p>
                <p class="item-sale-price font-weight-bold mb-0">Now is $45</p>
            </div>
            <div class="col-md-3">
                <a class="white-underline" href="{% url 'item_detail' 47 %}">
                    <div class="index-staples-image mx-auto mt-4">
                        <img src="{{ MEDIA_URL }}Screen_Shot_2021-09-26_at_11.44.08_PM.png" alt="twelve month planner">
                    </div>   
                </a>
                <p class="mt-3">N-Bone Ferret Chew Treats - Salmon Flavor (1.87 oz)</p>
                <p class="item-price font-weight-bold mb-0"><s>Was $5.99</s></p>
                <p class="item-sale-price font-weight-bold mb-0">Now is $3.20</p>
            </div>
        </div>
            <div class="text-center">
                <a class="btn btn-yellow mt-5 mb-3" id="index-staples-button" 
                    href="{% url 'items' %}?type=dog_items_on_sale,cat_items_on_sale,small_pet_items_on_sale,bird_items_on_sale,fish_items_on_sale,reptile_items_on_sale">See All On Sale</a>
            </div>
            <hr>
</section>

<!-- Home page shop by pet -->
<section>
    <div>
        <h3 class="logo-font text-center mt-3">Shop by pet</h3>
    </div>
    <div class="row">
        <div class="home-button-animal col-6 col-md-4 col-lg-2 p-5">
        <a href="{% url 'items' %}?type=dog_food,dog_treats,dog_toys,dog_beds,dog_flea_and_tick" 
            class="btn home-button">
            <span class="target showhim">
                <i class="fas fa-dog fa-2x"></i>
                <span class="showme">Dogs</span>
            </span>
            
        </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2 p-5">
            <a href="{% url 'items' %}?type=cat_food,cat_furniture,cat_beds,litter,cat_flea_and_tick"
                class="btn home-button">
                <span class="target showhim">
                    <i class="fas fa-cat fa-2x"></i>
                    <span class="showme">Cats</span>
                </span>
            </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2 p-5">
            <a href="{% url 'items' %}?type=food_and_treats,cages_and_habitats,beds_and_hideaways,bedding_and_litter,toys_and_habitat_accessories"
                class="btn home-button">
                <span class="target showhim">
                    <i class="fas fa-otter fa-2x"></i>
                    <span class="showme">Small Pets</span>
                </span>
            </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2 p-5">
            <a href="{% url 'items' %}?type=bird_cages,bird_food,bird_toys,perches_and_playstands,bird_treats"
                class="btn home-button">
                <span class="target showhim">
                    <i class="fas fa-dove fa-2x"></i>
                    <span class="showme">Birds</span>
                </span>
            </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2 p-5">
            <a href="{% url 'items' %}?type=aquariums,filters,sand_and_gravel,water_care,fish_food"
                class="btn home-button">
                <span class="target showhim">
                    <i class="fas fa-fish fa-2x"></i>
                    <span class="showme">Fish</span>
                </span>
            </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2 p-5">
            <a href="{% url 'items' %}?type=terrariums_and_tanks,reptile_food,reptile_decor_and_hideaways,reptile_substrate_and_bedding,reptile_cleanup_and_odor_control"
                class="btn home-button">
                <span class="target showhim">
                    <i class="fas fa-dragon fa-2x"></i>
                    <span class="showme">Reptiles</span>
                </span>
            </a>
        </div>   
    </div>
</section>
{% endblock %}