{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- Home page carousel -->
<div id="home-page-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#home-page-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-page-carousel" data-slide-to="1"></li>
        <li data-target="#home-page-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item home-carousel-item active">
            <div id="carousel-img-1" class="d-block w-100 carousel-image">
                <img class="img-responsive" src="media/carousel-img-1.jpg" alt="">
            </div>
        </div>
        <div class="carousel-item home-carousel-item">
            <div id="carousel-img-2" class="d-block w-100 carousel-image">
                <img class="img-responsive" src="media/carousel-img-2.jpg" alt="">
            </div>
        </div>
        <div class="carousel-item home-carousel-item">
            <div id="carousel-img-2" class="d-block w-100 carousel-image">
                <img class="img-responsive" src="media/carousel-img-4.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<!-- Home page shop by pet -->
    <div>
        <h3 class="text-center shop-by-pet pt-5">Shop by pet</h3>
    </div>
    <div class="row">
        <div class="col-md-2 p-5">
            <button class="home-button"><i class="fas fa-dog fa-2x"></i></button>
        </div>
        <div class="col-md-2 p-5">
            <button class="home-button"><i class="fas fa-cat fa-2x"></i></button>
        </div>
        <div class="col-md-2 p-5">
           <button class="home-button"><i class="fas fa-otter fa-2x"></i></button>
        </div>
        <div class="col-md-2 p-5">
            <button class="home-button"><i class="fas fa-dove fa-2x"></i></button>
        </div>
        <div class="col-md-2 p-5">
            <button class="home-button"><i class="fas fa-fish fa-2x"></i></button>
        </div>
        <div class="col-md-2 p-5">
            <button class="home-button"><i class="fas fa-dragon fa-2x"></i></button>
        </div>        
    </div>
{% endblock %}