html {
    height: 100%;
}

/* -------------------------------- Navbar */
.logo-font {
    font-family: 'Fredoka One', cursive;
    font-size: 40px; 
}

.navbar-font {
    font-family: 'Lato';
    font-size: 20px;
}

.fa-paw {
    color: #FFD700;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.btn-blue {
    background: white;
    color: #006994;
}

.text-white {
    color: white !important;
}

.bg-black {
    background: #000 !important;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.navbar, #topnav {
    background-color: #006994; 
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.type-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* -------------------------------- Footer */
#footer {
    background-color: #006994;
}

footer li {
    list-style: none;
  }

footer ul {
    padding: 0;
    margin: 0;
  }
  
footer a {
    color: #f8f9fa;
    -webkit-transition: 0.3s all ease-in-out 0.2s;
    transition: 0.3s all ease-in-out 0.2s;
  }
  
footer a:hover {
    color: white;
    text-decoration: underline;
  }

/* -------------------------------- Styling for home page */

.delivery-font {
    font-size: 14px;
    margin: 10px;
}

#delivery-banner {
    background-color: #F5F5F5;
}

.home-carousel-item {
    height: 66vh;
    width: 100vw;
  }
  
.carousel-image {
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

.responsive {
    width: 100%;
    height: 100%;
  }

.home-button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #FFD700;
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
}

.shop-by-pet {
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
}

/* -------------------------------- Product page  */

.btn-blue-outline {
    border: 1px solid #006994;
    color: #006994;
    margin: 0.25rem;
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }

.btn-blue-outline:hover {
    background-color: #006994;
    color: white;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
  }

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}