<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-white ml-5" href="#" id="dogs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dogs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dogs-link">
                <a href="" class="dropdown-item">Dog food</a>
                <a href="" class="dropdown-item ">Dog treats</a>
                <a href="" class="dropdown-item ">Dog toys</a>
                <a href="" class="dropdown-item">Dog beds</a>
                <a href="" class="dropdown-item">Dog flea and tick</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-white ml-5" href="#" id="cats-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cats-link">
                <a href="" class="dropdown-item">Cat food</a>
                <a href="" class="dropdown-item ">Cat furniture</a>
                <a href="" class="dropdown-item ">Cat beds</a>
                <a href="" class="dropdown-item">Litter</a>
                <a href="" class="dropdown-item">Cat flea and tick</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-white ml-5" href="#" id="smallpets-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Small pets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="smallpets-link">
                <a href="" class="dropdown-item">Food and treats</a>
                <a href="" class="dropdown-item">Cages and habitats</a>
                <a href="" class="dropdown-item">Beds and hideaways</a>
                <a href="" class="dropdown-item">Bedding and litter</a>
                <a href="" class="dropdown-item">Toys and habit accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-white ml-5" href="#" id="birds-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Birds
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="birds-link">
                <a href="" class="dropdown-item">Bird cages</a>
                <a href="" class="dropdown-item">Bird food</a>
                <a href="" class="dropdown-item">Bird toys</a>
                <a href="" class="dropdown-item">Perches and playstands</a>
                <a href="" class="dropdown-item">Bird treeats</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-white ml-5" href="#" id="fish-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fish
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fish-link">
                <a href="" class="dropdown-item">Aquariums</a>
                <a href="" class="dropdown-item">Filters</a>
                <a href="" class="dropdown-item">Sand and gravel</a>
                <a href="" class="dropdown-item">Water care</a>
                <a href="" class="dropdown-item">Fish food</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-white ml-5" href="#" id="reptiles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reptiles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="reptiles-link">
                <a href="" class="dropdown-item">Terrariums and tanks</a>
                <a href="" class="dropdown-item">Reptile food</a>
                <a href="" class="dropdown-item">Reptile decor and hideaways</a>
                <a href="" class="dropdown-item">Reptile substrate and bedding</a>
                <a href="" class="dropdown-item">Reptile cleanup and odor control</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-white ml-5" href="#" id="onsale-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                On sale
            </a>
            <div aria-labelledby="onsale-link">
                <a href=""></a>
            </div>
        </li>
    </ul>
</div>