<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-white ml-5" href="#" id="all-items-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-items-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'items' %}" class="dropdown-item">All Items</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-white ml-5" href="#" id="dogs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dogs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dogs-link">
                <a href="" class="dropdown-item">Dog Food</a>
                <a href="" class="dropdown-item ">Dog Treats</a>
                <a href="" class="dropdown-item ">Dog Toys</a>
                <a href="" class="dropdown-item">Dog Beds</a>
                <a href="" class="dropdown-item">Dog Flea and Tick</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-white ml-5" href="#" id="cats-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cats-link">
                <a href="" class="dropdown-item">Cat Food</a>
                <a href="" class="dropdown-item ">Cat Furniture</a>
                <a href="" class="dropdown-item ">Cat Beds</a>
                <a href="" class="dropdown-item">Litter</a>
                <a href="" class="dropdown-item">Cat Flea and Tick</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-white ml-5" href="#" id="smallpets-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Small Pets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="smallpets-link">
                <a href="" class="dropdown-item">Food and Treats</a>
                <a href="" class="dropdown-item">Cages and Habitats</a>
                <a href="" class="dropdown-item">Beds and Hideaways</a>
                <a href="" class="dropdown-item">Bedding and Litter</a>
                <a href="" class="dropdown-item">Toys and Habit Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-white ml-5" href="#" id="birds-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Birds
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="birds-link">
                <a href="" class="dropdown-item">Bird Cages</a>
                <a href="" class="dropdown-item">Bird Food</a>
                <a href="" class="dropdown-item">Bird Toys</a>
                <a href="" class="dropdown-item">Perches and Playstands</a>
                <a href="" class="dropdown-item">Bird Treats</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-white ml-5" href="#" id="fish-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fish
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fish-link">
                <a href="" class="dropdown-item">Aquariums</a>
                <a href="" class="dropdown-item">Filters</a>
                <a href="" class="dropdown-item">Sand and Gravel</a>
                <a href="" class="dropdown-item">Water Care</a>
                <a href="" class="dropdown-item">Fish Food</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-white ml-5" href="#" id="reptiles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reptiles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="reptiles-link">
                <a href="" class="dropdown-item">Terrariums and Tanks</a>
                <a href="" class="dropdown-item">Reptile Food</a>
                <a href="" class="dropdown-item">Reptile Decor and Hideaways</a>
                <a href="" class="dropdown-item">Reptile Substrate and Bedding</a>
                <a href="" class="dropdown-item">Reptile Cleanup and Odor Control</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-white ml-5" href="#" id="onsale-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                On Sale
            </a>
            <div aria-labelledby="onsale-link">
                <a href=""></a>
            </div>
        </li>
    </ul>
</div>